# .gitignore file  here is a sample ...   https://www.toptal.com/developers/gitignore/api/python
/__pycache__
/.idea
/.vscode
/.pytest_cache
/.mypy_cache
/venv
/prev
/05_CGI-BIN/pytz
/06_REPORTLAB/*
!06_REPORTLAB/*.py
!06_REPORTLAB/*.png
/07_DJANGO/website/venv
/07_DJANGO/website/.idea
/07_DJANGO/library-tutorial
/07_DJANGO/django-locallibrary-tutorial-master
/07_DJANGO/kindle
/07_DJANGO/Viberr-master
/12_KIDSSTUFF
/14_MYSQL/*
!14_MYSQL/*.sql
/15_SQLSERVER/*
!15_SQLSERVER/*.sql
/21_PYSCRIPT/*
!21_PYSCRIPT/*.html
*.exe
*.py[cod]
*.sqlite3
*.xls
*.xlsx
*.pkl
*.parquet
*.gz
*.rdb
leads.py
tmp.py