{% extends 'music/base2.html' %}

{% block body %}

   <img src='{{ album.album_logo }}'>
   <h1>{{ album.alum_title }}</h1>
   <h3>{{ album.artist }}</h3>

   <ul>
      {% for song in album.song_set.all %}   {# WARNING: could not parse .all()  #}
         <li>{{song.song_title}} - {{ song.file_type}}</li>
      {% endfor %}
   </ul>


   {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
   {% endif %}

   <form action="{% url 'music:favorite' album.id %}" method="post">
      {% csrf_token %}
      {% for song in album.song_set.all %}
         <input type ="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
         <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
               <img src="https://cdn4.iconfinder.com/data/icons/radio-buttons-and-switch/512/Bullet_point_blue-512.png" width="15">
            {% endif %}
         </label><br>
      {% endfor %}<br>
      <input type="submit" value="favorite">
   </form>
{% endblock %}